.skill-section {
    border: 1px solid rgba(73, 71, 71, 0.548);
    margin-top: 100px;
    margin-bottom: 50px;
}

.skill {
    text-align: center;
    font-size: 40px;
    /* margin-bottom: 50px; */
    /* border: 2px solid red; */
}

.skill span {
    color: #feb406;
}

.container1 {
    /* border: 2px solid #808080; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* align-items: center; */
    margin: 50px 20px 0px 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}

.container2 {
    /* border: 2px solid #0d00ff; */
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    /* it can be bug */
}

.container3 {
    /* border: 2px solid #33ff00; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.container4 {
    /* border: 2px solid rgb(255, 255, 255); */
    width: 20%;
}

.container5 {
    /* border: 2px solid #f30071; */
    width: 90%;
}

.compare {
    border-radius: 20px;
    /* border: 4px solid #ffaa00; */
    height: 25px;
    width: 100%;
    position: relative;
}

.compare::after {
    content: "95%";
    position: absolute;
    top: -0.6px;
    left: -0.7px;
    height: 107%;
    width: 95%;
    border-radius: 20px;
    background-color: #feb406;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: 0.5s;
    animation: anim 10s;
    display: flex;
    align-items: center;
    justify-content: right;
    color: black;
    padding: 0px 10px 0px 0px;
    font-family: 'Poppins', sans-serif;
}

@keyframes percentage {
    0% {
        content: "0%";
    }

    1% {
        content: "1%";
    }

    2% {
        content: "2%";
    }

    3% {
        content: "3%";
    }

    4% {
        content: "4%";
    }

    5% {
        content: "5%";
    }

    6% {
        content: "6%";
    }

    7% {
        content: "7%";
    }

    8% {
        content: "8%";
    }

    9% {
        content: "9%";
    }

    10% {
        content: "10%";
    }

}

@keyframes anim {
    0% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0deg);
    }

}

#compare2::after {
    content: "90%";
    width: 90%;
}

#compare3::after {
    content: "90%";
    width: 90%;
}

#compare4::after {
    content: "50%";
    width: 50%;
}

#compare5::after {
    content: "70%";
    width: 70%;
}



.container7 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    /*it can be bug */
}

.container71 {
    /* border: 2px solid rgb(30, 255, 0); */
    font-size: 2rem;
}

.container71 span {
    color: #ffaa00;
}

.container72 {
    /* border: 2px solid yellow; */
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.skill-certificate {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid white;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.2s;
    cursor: pointer;
}

.skill-certificate:active {
    border: 2px solid #feb406;

}

.skill-certificate:hover {
    color: #feb406;

}

.skill-certificate img:hover {
    color: #feb406;
}

.skill-certificate img {
    background-color: black;
    height: 25px;
}

@media (max-width: 1050px) {
    .container1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .container2 {
        width: 700px;
    }

    .container7 {
        width: 700px;
    }

    .container71 {
        display: none;
    }

    .container72 {
        margin-top: 0px;
    }
}

@media (max-width: 800px) {
    .container2 {
        width: 600px;
    }

    .container7 {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .container2 {
        width: 500px;
    }

    .container3 {
        margin-bottom: 20px;
    }

    .container7 {
        width: 500px;
    }

    .container3 {
        font-size: 12px;
    }

    #compare1::after {
        width: 92%;
    }

    #compare2::after {
        width: 88%;
    }

    #compare3::after {
        width: 84%;
    }

    .container72 {
        font-size: 18px;
    }
}

@media (max-width: 570px) {
    .container2 {
        width: 400px;
    }

    .container7 {
        width: 400px;
    }

    .compare {
        height: 20px;
    }

    .compare5 {
        margin-left: 100px;
    }

    .container3 {
        font-size: 9px;
    }

    .container72 {
        font-size: 15px;
    }
}

@media (max-width:450px) {
    .container2 {
        width: 350px;
    }

    .container7 {
        width: 350px;
    }

    .container3 {
        margin-bottom: 15px;
    }

    .compare::after {
        height: 115%;
    }
}

@media (max-width:400px) {
    .container2 {
        width: 300px;
    }

    .container7 {
        width: 300px;
    }

    .container3 {
        margin-bottom: 10px;
    }

    .container5 {
        width: 88%;
    }
}

@media (max-width: 350px) {
    .container2 {
        width: 250px;
    }

    .container7 {
        width: 250px;
    }

    .compare {
        height: 15px;
    }

    .container72 {
        font-size: 12px;
    }
}

@media (max-width:300px) {
    .container2 {
        width: 230px;
    }

    .container7 {
        width: 230px;
    }

    .container3 {
        margin-bottom: 5px;
    }

    .container5 {
        width: 80%;
    }
}

@media (max-width: 280px) {
    .container2 {
        width: 200px;
    }

    .container7 {
        width: 200px;
    }
}

/* tools i use in my work */
/* tools i use in my work */
/* tools i use in my work */
/* tools i use in my work */

.tools1 {
    text-align: center;
    /* border: 2px solid green; */
    font-family: 'Saira', sans-serif;
    font-size: 15px;
    color: #808080;
    font-weight: 900;
    word-spacing: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.tools2 {
    /* border: 2px solid darkorange; */
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;

}

.tools2 div {
    color: #808080;

}

.tools2 div i:hover,
.tools3 div i:hover {
    background: none;
}

.tools2 .fa-c {
    color: #808080;
    margin-right: 10px;
    border: 1px solid #808080;
    border-radius: 50%;
    font-size: 16px;
    padding: 3px 5px;
    cursor: pointer;
}

.tools2 a {
    text-decoration: none;
    cursor: pointer;
}

.tools2 .fa-figma {
    color: #808080;
    margin-right: 10px;
}

/* .tools2 .fa-l {
    color: #808080;
    margin-right: 10px;
    border: 1px solid #808080;
    border-radius: 50%;
    font-size: 16px;
    padding: 3px 6px;
    cursor: pointer;
} */
.fa-github{
    color:  #808080;
    margin-right: 10px;
}
.tools3 {
    /* border: 2px solid darkorange; */
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
    margin-top: 20px;
    margin-bottom: 100px;
}

.tools3 a {
    text-decoration: none;
    cursor: pointer;
}

.tools3 div {
    color: #808080;

}

.tools3 .fa-bootstrap {
    color: #808080;
    margin-right: 10px;
    cursor: pointer;
}

.tools3 .fa-code {
    color: #808080;
    margin-right: 10px;
    cursor: pointer;
}

@media(max-width:500px) {

    .tools2,
    .tools3 {
        font-size: 14px;
    }

    .tools1 {
        font-size: 14px;
        word-spacing: 1px;
    }

    .tools2 .fa-c {
        font-size: 10px;
        padding: 3px 5px;
    }

    .tools2 .fa-l {
        font-size: 10px;
        padding: 3px 5px;
    }
}

@media(max-width:325px) {

    .tools2,
    .tools3 {
        font-size: 12px;
    }

    .tools1 {
        font-size: 12px;
        word-spacing: 1px;
    }
}

/*--------- swiper -----------*/
/*--------- swiper -----------*/
/*--------- swiper -----------*/
/*--------- swiper -----------*/

.swiper-container {
    /* height: 40%; */

    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    margin-bottom: 100px;
}

#main {
    height: 300px;
    /* border: 2px solid red; */
    width: 60%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    /* animation: colorAnim 10s infinite alternate; */
}

@keyframes colorAnim {
    0% {
        box-shadow: inset 0px 0px 30px 10px rgb(0, 68, 255);
    }

    50% {
        box-shadow: inset 0px 0px 30px 10px rgb(0, 238, 255);
    }

    100% {
        box-shadow: inset 0px 0px 30px 10px rgb(119, 0, 255);
    }
}

.swiper {
    width: 100%;
    height: 95%;
    /* border: 2px solid green; */
}

.swiper-slide {
    /* border: 2px solid yellow; */
    text-align: center;
    font-size: 18px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper-slide img {
    display: inline;
    /* border: 2px solid red; */
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-bottom: 10px;
}

.swiper-slide h3 {
    /* border: 2px solid brown; */
    font-size: 1rem;
    width: 95%;
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-weight: 100;
    color: #bbc2cc;
}

.swiper-slide h5 {
    /* border: 2px solid white; */
    font-size: 1rem;
    padding: 0 20px;
    /* background-color: red; */
    position: relative;
    color: #808080;
    font-family: 'Saira', sans-serif;
    word-spacing: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.swiper-slide h6 {
    font-size: 1vw;
    color: blueviolet;
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}



.swiper-pagination-bullet {
    display: none;
    background-color: #00fff2;
}

@media (max-width: 800px) {
    #main {
        width: 90%;
    }
}

@media (max-width: 500px) {
    #main {
        width: 90%;
    }
    .swiper-slide h3{
        font-size: 10px;
    }
}

